#header {

min-height: 100px;
background-repeat: no-repeat;
float: left;
padding-left: 0px;
padding-right: 45px;
width:80%
}

#title {

color:#ff6600; 
font-weight:bold; 
font-size:16px

}

#title_more {

color:#ff6600; 
font-weight:bold; 
font-size:16px

}

body {
font-size: 16px;
font-family: Arial, sans-serif;
line-height: 1.6;
color: #393939;
background-color: #f2f3f4;
padding-right: 35px;
padding-left: 185px

}

p {text-align: left;}


form#contact input  {
color:#000;margin:0 0 7px 0;
border:1px solid #d8d8d8;
width:220px;
float:right;
padding:3px 10px;
}

form#contact label  {
float:left;
display:block;
margin:3px 0;
clear:both;
}

form#jobform input  {
color:#000;margin:0 0 7px 0;
border:1px solid #d8d8d8;
width:220px;
float:right;
padding:3px 10px;
}

form#jobform label  {
float:left;
display:block;
margin:3px 0;
clear:both;
}


form#contact textarea {
color:#666; 
float:right;
font-size:110%;
font-family:arial;height:80px;
border:1px solid #d8d8d8;
width:220px;
-moz-border-radius:12px;
-webkit-border-radius:12px;
padding:2px 10px;
margin-bottom:10px;
}

button {
background: repeat-x top left #ff6600; 
clear:both;
-moz-border-radius:15px;
-webkit-border-radius:15px;border:0;
cursor:pointer;
color:#000;
float:right;
font-weight:bold;
font-size:79%;
padding:5px 15px;
margin-top:15px;
width:50px;
}

button[id^="ciro"] {


    border: 0 none;
    clear: both;
    color: #000;
    cursor: progress;
    float: right;
    font-size: 74%;
    font-weight: bold;
    margin-left: 11px;
    margin-right: 10px;
    margin-top: 15px;
    padding: 5px 15px;
    width: 40px;


}

.faulty_field{
background:#fff4f4 !important;
color:#ff0000;
border:1px solid #ff0000 !important;
}

label span {
color:#ff0000;
font-size:85%; 
}
 
#slider {
    border: 2px solid #333;
    width:275px;
 height:183px;
 margin:40px auto;
    background:url(../images/loading.gif) no-repeat 50% 50%;
}

#center-sx {
    float: left;
    line-height: 25px;
    padding-left: 2px;
    text-align: justify;
    width: 68%;
}

#center-dx {
    float: left;
    line-height: 25px;
    padding-left: 2px;
    text-align: justify;
    width: 20%;
}

#wrap {
background-color: #ffffff;
}



#layout-content {
    float: left;
    width: 83%;
    background: #ffffff;
    padding-top:20px;
    padding-left:15px;
    padding-right:15px;
}



select {
    background-color: #f2f2f2;
    border: 1px solid gray;
    font-family: georgia,verdana,Arial,sans-serif;
    margin: 10px 0;
    padding: 4px;
    width: 300px;
}

#titolo {
color:#000;
margin:0 -4 7px 0;
border:1px solid #d8d8d8;
width:242px;
float:right;
padding:3px 10px;
background-color: #ffffff;
color: #808080;
font: -moz-list;
}

#posizioni {
color:#000;
margin:0 -4 7px 0;
border:1px solid #d8d8d8;
width:242px;
float:right;
padding:3px 10px;
background-color: #ffffff;
color: #808080;
font: -moz-list;
}

#posizioniaperte {
color:#000;
margin:0 -4 7px 0;
border:1px solid #d8d8d8;
width:242px;
float:right;
padding:3px 10px;
background-color: #ffffff;
color: #808080;
font: -moz-list;
}

#sede {
color:#000;
margin:0 -4 7px 0;
border:1px solid #d8d8d8;
width:242px;
float:right;
padding:3px 10px;
background-color: #ffffff;
color: #808080;
font: -moz-list;
}

#filtrotitolo {
color:#000;
margin:0 -4 7px 0;
border:1px solid #d8d8d8;
width:242px;
float:left;
padding:3px 10px;
background-color: #ffffff;
margin-left:89px;
color: #808080;
font: -moz-list;
}

#filtroposizione {
color:#000;
margin:0 -4 7px 0;
border:1px solid #d8d8d8;
width:242px;
float:left;
padding:3px 10px;
margin-left:89px;
background-color: #ffffff;
color: #808080;
font: -moz-list;
}

#filtroeta {
color:#000;
margin:0 -4 7px 0;
border:1px solid #d8d8d8;
width:242px;
float:left;
padding:3px 10px;
background-color: #ffffff;
color: #808080;
font: -moz-list;
}

#filtrosede {
color:#000;
margin:0 -4 7px 0;
border:1px solid #d8d8d8;
width:242px;
float:left;
padding:3px 10px;
margin-left:89px;
background-color: #ffffff;
color: #808080;
font: -moz-list;
}


#candidati {
width:300;
height:200;
}

div.ui-datepicker{
 font-size:10px;
}

h1 {
color: #ffffff;
font-size: 48px;
font-family: Helvetica, Arial, sans-serif;
}

h2 {
color: #212121;
font-size: 24px;
}

a {
color: #e24727;
}

/* --- border --- */
#wrap, #header, #footer, ul.nav > li > a, ul.nav li ul   {
border-color: #0b4085;
}

/* --- nav sidebar --- */
div#sidebar ul.nav, div#sidebar ul.nav a {
color: #494949;
}
div#sidebar ul.nav a:hover {
color: #286bc2;
}
div#sidebar ul.nav > li > a {

}

/* border custom nav sidebar */
div#sidebar ul.nav > li > a, div#sidebar ul.nav li ul {
border-color: #E0E0E0;
}

/* --- nav header --- */
div#header ul.nav, div#header ul.nav a {
color: #ffffff;
}
div#header ul.nav a:hover {
color: #ffffff;
background-color: #669BCC;
}
div#header ul.nav > li > a,  div#header ul.nav li ul {
background-color: #AB2721;
}
/* border custom nav header */
div#header ul.nav > li > a, div#header ul.nav li ul {
border-color: #ffffff;
}

/* --- #navigation --- */

div #navigation {

}

div#navigation ul.nav, div#navigation ul.nav li, div#navigation ul.nav ul {
background-color: #286bc2;
}

div#navigation ul.nav li a {
color: #ffffff;
}

div#navigation ul.nav li:hover, div#navigation ul.nav li:hover ul li, div#navigation ul.nav ul {
background-color: #0e4fa3;
}

div#navigation ul.nav li:hover a, div#navigation ul.nav ul a {
color: #ffffff;
}

/* --- styles --- */


h1 {font-weight:normal}
h2 {font-weight:bold}

#wrap {
-moz-border-radius: 4px 4px 4px 4px;
border-radius: 4px 4px 4px 4px;
padding:10px 0;
margin: 20px auto
}

#header  {
border-bottom-style: null;
border-bottom-width: 1px;
padding-top:0;
}

div#header .widget-nav {
padding:0
}

div #header ul.nav {
margin: 0 0 10px 0;
}

div#header .title {
padding:10px
}

div#header ul.nav li ul, div#sidebar ul.nav li ul {
list-style-type:disc; /* static list type */
}

div#footer {
font-size: 90%;
}

div#sidebar ul.nav a, div#sidebar ul.nav li ul {
border-bottom-width: 1px;
border-bottom-style: dashed;
}

/* --- #navigation custom --- */

div#navigation ul.nav ul {
border-bottom-width:2px;
border-bottom-style:solid;
border-color: #0b4084;
}

div#navigation ul.nav li {
border-right-width:1px;
border-right-style:solid;
border-color: #ffffff;
}

div#navigation ul.nav ul li {
border:none;
}

div#navigation {
border-bottom-width:1px;
border-bottom-style:solid;
border-color: #0b4084;
}

#center-dx {
    float: right;
    padding-right: 88px;
}

#slider img {
    display: none;
    left: 0;
    position: absolute;
    top: 0;
}
#slider a {
    border: 0 none;
    display: block;
}
.nivo-controlNav {
    bottom: -42px;
    left: 260px;
    position: absolute;
}
.nivo-controlNav a {
    background: url("../images/bullet.png") no-repeat scroll 0 0 rgba(0, 0, 0 ,0);
    border: 0 none;
    display: block;
    height: 22px;
    margin-right: 3px;
    text-indent: -9999px;
    width: 22px;
}
.nivo-controlNav a.active {
    background-position: 0 -22px;
}
.nivo-directionNav a {
    background: url("../images/arrows.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 none;
    display: block;
    height: 30px;
    text-indent: -9999px;
    width: 30px;
}
a.nivo-nextNav {
    background-position: -30px 0;
    right: 2px;
}
a.nivo-prevNav {
    left: 2px;
}
.nivo-caption {
    font-family: Helvetica,Arial,sans-serif;
    text-shadow: none;
}
.nivo-caption a {
    color: #efe9d1;
    text-decoration: underline;
}
